
.btn{
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
}

#btnWall{
  background-color: #000;
  color: #fff;
}

#btnRemoveWall{
  border: 1px solid #000;
}

.txtInfo{
 font-size: 20px;
}

.nodeContainer {
  width: 1400px;
  height: 630px;
  flex-wrap: wrap;
  outline: 2px solid #000;
}
.node {
  margin: 0;
  min-width: 35px;
  height: 35px;
  border: 1px solid #000;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.node:hover {
  background-color: aqua;
}

.start {
  background-color: #00ff00;
}

.start:hover {
  background-color: #00ff00;
}

.end {
  background-color: #ff4500;
}

.end:hover {
  background-color: #ff4500;
}

.visited {
  background-color: aqua;
}

.path {
  background-color: #029090;
}
.path:hover {
  background-color: #029090;
}

.wall{
  background-color:#000;
}

.wall:hover {
  background-color: #000;
}